.container {
  padding: 50px 30px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #136abb42;
  min-height: 85vh;
}

.heading {
  margin: 50px auto;
  line-height: 4rem;
  max-width: 500px;
  color: black;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #233cee, #1369bb);
}

.right img {
  width: 50vw;
  max-width: 550px;
}
